* {
    margin: 0;
    padding: 0;
}

.zoominheader {
    display: none;
    top: 40%;
    left: 10%;
    width: 86%;
    height: 86%;
    text-align: center;
    background-size: 85%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: absolute;
    animation-delay: 0ms;
    -webkit-animation: zoomin 3s ease-ininfinite;
    -o-transition: opacity 3s ease-in;
    animation: zoomin 3s ease-in infinite;
    animation-duration: 3s;
    animation-iteration-count: 1;
    transition: all 3s ease-in;
    animation-fill-mode: forwards;
    overflow: hidden;
}

.zoominheader2 {
    display: none;
    top: 40%;
    left: 10%;
    width: 90%;
    height: 90%;
    text-align: center;
    background-size: 80%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: absolute;
    animation-delay: 0ms;
    -webkit-animation: zoomin2 1.6s ease-ininfinite;
    -o-transition: opacity 1.6s ease-in;
    animation: zoomin2 1.6s ease-in infinite;
    animation-duration: 1.6s;
    animation-iteration-count: 1;
    transition: all 1.6s ease-in;
    animation-fill-mode: forwards;
    overflow: hidden;
}

@keyframes zoomin {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1.6);
    }
    from {
        opacity: 2;
    }
    to {
        opacity: 0.5;
        visibility: hidden;
    }
}

@keyframes zoomin2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1.6);
    }
    from {
        opacity: 0.9;
    }
    to {
        opacity: 0.5;
        visibility: hidden;
    }
}

#body {
    background-color: white;
}

ul {
    height: 70px;
    width: 100%;
    background-color: #9e0b0f;
    overflow: hidden;
    text-decoration: none;
    list-style-type: none;
}

ul li a {
    float: right;
    display: block;
    color: white !important;
    text-decoration: none !important;
    font-size: 20px;
    font-family: Arial;
    padding: 25px 20px;
}

ul li a:hover {
    background-color: brown;
}

#menu {
    position: relative;
    right: 100px;
}

h1 {
    font-size: 40px;
    font-family: Arial;
    color: #9e0b0f;
}

#GetStarted {
    border: solid;
    background-color: white;
    color: #9e0b0f;
    height: 60px;
    width: 400px;
    font-size: 30px;
    align-content: center;
    border-radius: 30px;
    margin-top: 50px;
}

#GetStarted:hover {
    font-size: 36px;
}

#Introduction {
    text-align: center;
    border-collapse: collapse;
    overflow: auto;
    display: inline-table;
    width: 100%;
    table-layout: fixed;
    line-height: 2;
}

#TableCellRight {
    display: table-cell;
    border: none;
    text-align: left;
}

#TableCellLeft {
    display: table-cell;
    border: none;
    padding-right: 100px;
    text-align: right;
}

#colorstrip {
    width: 100%;
    height: 400px;
    border-style: none;
    background-color: #9e0b0f;
}

#Choice1 {
    font-size: 20px;
    font-family: Arial;
    color: white;
}

#Choice2 {
    font-family: Arial;
    font-size: 20px;
    color: #9e0b0f;
}

#ChoiceTable {
    display: inline-table;
    width: 100%;
    table-layout: fixed;
}

#img1 {
    border: solid;
    color: white;
    border-width: 2px;
}

#img2 {
    border: solid;
    color: #9e0b0f;
    border-width: 2px;
}

#imageLogo {
    position: absolute;
    bottom: 25px;
    top: 12px;
    left: 10px;
    display: block;
    height: 50px;
}

#rowTable {
    height: 50px;
}

#StartButton1 {
    border: solid;
    background-color: #9e0b0f;
    color: white;
    font-family: Arial;
    height: 40px;
    width: 200px;
    font-size: 20px;
    align-content: center;
    border-radius: 30px;
}

#StartButton1:hover {
    font-size: 25px;
}

#StartButton2 {
    border: solid;
    font-family: Arial;
    background-color: white;
    color: #9e0b0f;
    height: 40px;
    width: 200px;
    font-size: 20px;
    align-content: center;
    border-radius: 30px;
}

#StartButton2:hover {
    font-size: 25px;
}

#Col1AboutUs {
    text-align: center;
    vertical-align: middle;
    width: 20%;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    display: inline-flex;
    box-sizing: border-box;
    height: 80px;
    font-family: Arial;
    font-size: 12px;
    justify-content: center;
    background-color: #9e0b0f;
    color: white;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}

#under {
    display: flex;
    justify-content: center;
}

#footMenu {
    text-decoration: none;
    display: block;
    color: white;
    font-family: Arial;
}