h1 {
  font-size: 30px;
  color: #9e0b0f;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.tooltipster-base.tooltipster-top,
.tooltipster-base.tooltipster-bottom {
padding-left :15px;
padding-right: 15px;
}

.tooltipster-base.tooltipster-right {
padding-right: 15px;
}

.tooltipster-base.tooltipster-left {
padding-left :15px;
}

table tbody tr td:first-child{
  font-style: italic;
}

th {
  padding: 20px 15px;
  background: #9e0b0f;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: whitesmoke;
  text-transform: uppercase;
  /*font-family: Arial;*/
  cursor: pointer;
}

table.table-bordered{
  text-align: center;
  table-layout: fixed;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

table:not(#under){
  border: 10px solid white;
}

table tr:nth-child(odd) td:not(#asd) {
  background: white;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  font-size: 12px;
  color: black;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table tr:nth-child(even) td:not(#asd) {
  background: #D3D3D3;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  font-size: 12px;
  color: black;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}