
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: black;
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid black;
}
th{
  padding: 20px 15px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
  font-family:"sans-sherif";
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #9e0b0f, #000000);
  background: linear-gradient(to right, #9e0b0f, #000000);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}